button {
	// TODO Redeo theming to avoid using !important
	border-color: white !important;
}

mat-form-field {
	width: 100%;
}

#googleSignIn {
	background: none;
	border: none;
}

#googleSignIn img {
	width: 100%;
}

#showLoginMenu {
	color: black;
	position: absolute;
	transform: translate(-200px, 0px);
}